grades = []
credit_hours = []
results = []
calc_grade = 0
sum_hours = 0
valid = True
valid_size = True


while valid_size:
    size = input("How many grades are you going to enter? ")
    try:
        val = int(size)
        valid_size = False
        break
    except ValueError:
        try:
            float(size)
            print("Invalid input! Input is a float.")
        except ValueError:
            print("Input is a string. Re-enter a valid integer: ")

size = int(size)

for i in range(0, size):
    print("Enter a letter grade and credit hours for course " + str(i + 1) + ": ")
    valid = True
    while valid:
        grade = str(input())
        grade = grade.upper()
        credit_hour = input()
        if "A" <= grade <= "D" or grade == "F":
            if 1 <= int(credit_hour) <= 4:
                grades.append(grade)
                credit_hours.append(int(credit_hour))
                valid = False
            else:
                print("Invalid credit hours! Re-enter valid credit hours for course " + str(i+1) + ": ")
        else:
            print("Invalid letter grade! Re-enter a valid letter grade for course " + str(i + 1) + ": ")


for i in range(0, size):
    if grades[i] == "A":
        result = 4 * credit_hours[i]
        results.append(result)
    elif grades[i] == "B":
        result = 3 * credit_hours[i]
        results.append(result)
    elif grades[i] == "C":
        result = 2 * credit_hours[i]
        results.append(result)
    elif grades[i] == "D":
        result = 1 * credit_hours[i]
        results.append(result)
    else:
        result = 0 * credit_hours[i]
        results.append(result)

for i in range(0, size):
    calc_grade = calc_grade + results[i]
    sum_hours = sum_hours + credit_hours[i]
gpa = float(calc_grade / sum_hours)
print("Your GPA is: " + str(gpa))
